<%- include('./partials/header.ejs') %>

<div class="blog">
    <div class="top">
        <h1>Blog ✍️</h1>
        <span>A haven crafted by developers for developers.</span>
        <button id="createBlogButton">Create 🖊️</button>
        <div class="createBlogFormContainer">
            <div class="top">
                <h1>Create Blog</h1>
                <span class="material-symbols-outlined createBlogCloseButton">close</span>
            </div>
            <form id="create" action="/createBlog" method="post">
                <input type="text" name="title" placeholder="Blog Title">
                <input type="text" name="author" placeholder="Author Name">
                <textarea name="blogDescription" placeholder="Blog Description"></textarea>
                <textarea name="blogContent" placeholder="Write your blog"></textarea>
                <input id="createBlogSubmitButton" type="submit" value="submit">
            </form>
        </div>
    </div>
    <div class="blogCards">
        <% if (locals.BlogInfo) { %>
            <div class="blogItem">
                <h2 id="blogTitle"> <%= BlogInfo.Title %> </h2>
                <span id="blogAuthor"><%= BlogInfo.Author %></span>
                <p><%= BlogInfo.Desc %></p>
                <a href="#">Read more.</a> 
            </div>
        <% } %>
        <div class="blogItem">
            <h2 id="blogTitle">Blog Title</h2>
            <span id="blogAuthor">Mercy Spectures</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores id est perspiciatis corrupti animi reprehenderit quibusdam sunt ratione hic esse.</p>
            <a href="#">Read more.</a> 
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

